<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>To Do List</title>
</head>

<body>


    <header>

        <% if(!task) { %>
            <form action="/create" method="post">
                <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
                <button type="submit" id="addButton">Adicionar</button>
            </form>

            <% } else { %>

                <form action="/updateTask/<%= task._id %>" method="post">
                    <input type="text" name="task" id="task" value="<%= task.task%>">
                    <button type="submit" id="addButton">Actualizar</button>
                </form>
                <% } %>
    </header>

    <section id="tasks">
        <ul>
            <% taskList.forEach((task)=> { %>
                <li>

                    <%= task.task %> | <%= task.date.toLocaleDateString('pt-br')%>
                            <a href="/getById/<%= task._id%>/update">Editar</a>
                            <a href="/getById/<%= task._id%>/delete">Apagar</a>
                </li>
                <% }); %>
        </ul>
    </section>


    <% if(taskDelete){ %>
        <section id="modal">
            <div id="card">
                <a href="/">X</a>
                <h2>Confirmação</h2>
                <hr>
                <p>Deseja reaknebte apagar a tarefa: <%= taskDelete.task %>?</p>
                <a href="/">Não</a>
                <a href="/deleteTask/<%= taskDelete._id%>">Sim</a>
            </div>
        </section>
        <% } %>
</body>

</html>